/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.header {
    border: solid 1px lightgray;
    margin: 10px;
    padding: 15px;
}


.videobox {
    width: 340px;
    padding: 10px;
    margin: 0px 10px 20px;
    border: solid 1px #e5e5e5;
    -moz-border-radius: 15px;
    border-radius: 15px;


}


.box {
    margin-top: 50px;
}

.flowerInFocus{
    width: 100%;
}

.titlebar-icon{
    width: 35px;
}


