<div class="jumbotron">
    <h2>Brand new! Focus Movies or just Foovies</h2>
    <img style="float: right" width="100" src="images/hackzhlogo.png">

    <p class="lead">
        <br>
        brought to you by <label>apple</label>, <label>swisscom-cloud</label>, <label>amazon-s3</label>,
        <label>node.js</label>, <label>angluar.js</label> and <label>mongoDB</label>.
    </p>
</div>

<div class="row marketing">
    <h4>Motivation</h4>
    <img class="flowerInFocus" src="images/header.png"/>
    <p>
        Sometimes little things makes the differences. Just bring them in focus ;)
    </p>



</div>
