<div class="jumbotron">
    <h2>Brand new! Focus Movies or just Foovies</h2>
    <img style="float: right" width="100" src="images/hackzhlogo.png">

    <p class="lead">
        <br>
        brought to you by <label>apple</label>, <label>swisscom-cloud</label>, <label>amazon-s3</label>,
        <label>node.js</label>, <label>angluar.js</label> and <label>mongoDB</label>.
    </p>
</div>

<div class="row marketing">
    <h4>Motivation</h4>

    <p>
        Sometimes little things makes the differences. Just bring them in focus ;)
    </p>
    <img class="flowerInFocus" src="images/header.png"/>

    <div>

        <form action="./api/video" method="post" enctype="multipart/form-data">
            username <input type="text" name="username"><br>
            creationdate (optional)<input type="text" name="creationDate"> <!-- is optional --><br>
            sizeInKb <input type="number" name="sizeInKb"><br>
            lengthInSeconds <input type="number" name="lengthInSeconds"><br>
            video<input type="file" name="video"><br>
            thumbnail<input type="file" name="thumbnail"><br>
            <input type="submit" value="Submit">
        </form>

    </div>

</div>
