<div class="row marketing">
    <h4>Motivation</h4>

    <p>
        Just upload your stuff
    </p>

    <div>

        <form action="./api/video" method="post" enctype="multipart/form-data">
            username <input type="text" name="username"><br>
            creationdate (optional)<input type="text" name="creationDate"> <!-- is optional --><br>
            sizeInKb <input type="number" name="sizeInKb"><br>
            lengthInSeconds <input type="number" name="lengthInSeconds"><br>
            video<input type="file" name="video"><br>
            thumbnail<input type="file" name="thumbnail"><br>
            <input type="submit" value="Submit">
        </form>

    </div>

</div>
