<div class="box row">
Please select the User to show the Videos from:

    <select ng-model="selectedUser" ng-options="user for user in userlist" ng-change="getVideosofUser(selectedUser)"></select>
</div>
<div class="box row">
    The selected user {{selectedUser.username}} has actually {{UserVideos.length}} videos online.

    <div ng-repeat="video in UserVideos">

        <div class="videobox col-md-6">
            <video onplay="foovieessential.trackPlay(this)" _id="{{video._id}}" width="320" controls poster="{{video.thumbnail | trusted }}">
                <source ng-src="{{video.video | trusted}}"/>
            </video>

            <div class="row">
                <div class="col-md-4">Länge</div>
                <div class="col-md-2"></div>
                <div class="col-md-6">{{video.lengthInSeconds}} Seconds</div>
            </div>
            <div class="row">
                <div class="col-md-4">Videosize</div>
                <div class="col-md-2"></div>
                <div class="col-md-6">{{video.sizeInKb / 1024 | number : 1}} MB</div>
            </div>
            <div class="row">
                <div class="col-md-4">Creator</div>
                <div class="col-md-2"></div>
                <div class="col-md-6"><a href="/api/videos/{{video.username}}">{{video.username}}</a></div>
            </div>

        </div>
    </div>
